# Dependency directories
node_modules/

# Environment variables
.env

# Encrypted configuration
config.encrypted.js

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache 